* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
}

.introduce img {
  width: 600px;
}

.introduce {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: inset 5em 2em gold;
          box-shadow: inset 5em 2em gold;
  margin-bottom: 30px;
}

.introduce-text {
  padding: 10px;
}

.introduce-text h1 {
  margin-bottom: 5px;
}

.introduce-text p {
  font-size: 16px;
  line-height: 25px;
}

.line {
  width: 1200px;
  height: 1px;
  background-color: grey;
}

h2 {
  text-align: center;
  margin-bottom: 25px;
  margin-top: 25px;
}

.history-block01, .history-block02 {
  gap: 10px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.history-block01 .history-text, .history-block02 .history-text {
  width: 700px;
}

.history-block01 img, .history-block02 img {
  width: 500px;
  height: 300px;
}

.history-block01 p, .history-block02 p {
  line-height: 25px;
}

a {
  width: 200px;
  height: 40px;
  display: block;
  text-align: center;
  background-color: gold;
  padding-top: 10px;
  font-weight: 500;
  text-decoration: none;
  color: white;
  margin: 0;
  margin-top: 20px;
}

a:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #d6a505;
}

.constructor {
  line-height: 25px;
}

.constructor h2 {
  border-bottom: 5px solid red;
  padding-bottom: 5px;
}

.constructor-content {
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.constructor-content img {
  width: 450px;
  height: 300px;
}

.main-foto {
  width: 1200px;
  margin-top: 20px;
}

.main-foto img {
  width: 100%;
}

.facts {
  border: 3px solid gold;
  padding: 10px;
}

.facts h2 {
  text-align: center;
}

.facts ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  list-style-type: none;
  gap: 10px;
}

.facts ul li {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 1fr;
      grid-template-columns: 200px 1fr;
  gap: 10px;
}

.facts ul li img {
  width: 200px;
  border-radius: 100%;
}

.table {
  margin-bottom: 20px;
}

.table h2 {
  text-align: center;
}

.table table {
  -webkit-box-shadow: 10px 10px gold;
          box-shadow: 10px 10px gold;
}

.table table tr td {
  border: 2px solid black;
  padding: 10px;
}

.video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 600px) and (max-width: 1023px) {
  .container {
    min-width: 100%;
  }
  .container .introduce {
    min-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .container .introduce .introduce-text {
    overflow: hidden;
    max-height: 0;
    font-size: 0;
  }
  .container .introduce img {
    min-width: 100%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .container line {
    min-width: 100%;
  }
  .container .history .history-content .history-block01 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .history .history-content .history-block01 img {
    min-width: 100%;
    min-height: 00px;
  }
  .container .history .history-content .history-block01 .history-text {
    min-width: 100%;
  }
  .container .history .history-content .history-block02 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .container .history .history-content .history-block02 img {
    min-width: 100%;
    min-height: 600px;
  }
  .container .history .history-content .history-block02 .history-text {
    min-width: 100%;
  }
  .container .history a {
    overflow: hidden;
    max-height: 0;
    padding: 0;
    font-size: 0;
  }
  .container .constructor {
    margin-bottom: 10px;
  }
  .container .constructor h2 {
    max-height: 0;
    font-size: 0;
    border: none;
  }
  .container .constructor .constructor-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .constructor .constructor-content img {
    min-width: 100%;
    min-height: 700px;
  }
  .container .constructor .constructor-content .constructor-text {
    min-width: 100%;
  }
  .container .facts ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .facts ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .facts ul li img {
    border-radius: 0;
    min-width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */